{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  
</style>
{% endblock css %}
{% block main %}
<body style="background-color:#2e2e2e">
    <div class="container-fluid">
        <!-- <div class="row ">
            <div class="col-12 bg-danger text-white text-center fs-3 banner-top-standing-listing shadow">
                <p style="" class="mt-2 font-weight-bold ">2020 Driver Standings  </p>
            </div>
        </div> -->
        <div class="col-12">
            <ul class="list-group list-group-flush" style="background-color: #2e2e2e;">
                {% for item in stats  %}
                <li class="list-group-item" style="background-color:#2e2e2e ; color: white;">
                    <div class="">
                        <div class="d-flex">
                             
                            <div class="vertical-line" style="border-left:3px solid {% if item.constructor_season.0.color %}{{item.constructor_season.0.color}} {%else%} white {% endif %} ;">
                              
                                <p class="ml-2 mb-0  driver-listing">{{item.driver}}</p> 
                                
                                {% if not item.driver.number == "\N" %}
                                <p class="driver-number-listing" style=" font-family: 'Train One', cursive;">{{item.driver.number}}</p> 
                                {% endif %}
                                
                            </div>
                            <div class="driver-image">
                                <!-- <p class="driver-number-listing">{{item.driver.number}}</p>  -->
                                <img src="{{item.driver.image.url}}" class="image-listing" alt=""> 
                            </div>
                            
                        </div> 
                    </div>
                </li>
                
                {% endfor %}
              </ul>       
        </div>
        
    </div>
{% endblock main %}
    