{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  
</style>
{% endblock css %}
{% block main %}
<body style="background-color:#2e2e2e">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 mt-2 mb-2">
                <form>
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                           <select name="" id="" class="form-select">
                        <option value="" selected>-----</option>
                        {% for year in seasons  %}
                        <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                          </div>

                        
                    <button></button>
                    </div>
                   
                </form>
               
            </div>
        </div>
    
        <div class="col-12">
            <ul class="list-group list-group-flush" style="background-color: #2e2e2e;">
                {% for item in stats  %}
                <li class="list-group-item" style="background-color:#2e2e2e ; color: white;">
                    <div class="">
                        <div class="d-flex">
                            <span class="position-listing" >{{item.position}}º</span> 
                            <div class="vertical-line" style="border-left:3px solid {% if item.constructor_season.0.color %}{{item.constructor_season.0.color}} {%else%} white {% endif %} ;">
                                <p class="ml-2 mb-0 fs-6 constructor-listing">{{item.constructor}}</p>
                                <p class="ml-2 mb-0  driver-listing">{{item.driver}}</p> 
                                <p class="ml-2 mb-0  driver-listing">{{item.points}} Points</p>
                                {% if not item.driver.number == "\N" %}
                                <p class="driver-number-listing" style=" font-family: 'Train One', cursive;">{{item.driver.number}}</p> 
                                {% endif %}
                                
                            </div>
                            <div class="driver-image">
                                <!-- <p class="driver-number-listing">{{item.driver.number}}</p>  -->
                                <img src="{{item.driver.image.url}}" class="image-listing" alt=""> 
                            </div>
                            
                        </div> 
                    </div>
                </li>
                
                {% endfor %}
              </ul>       
        </div>
        
    </div>
{% endblock main %}
    